@import "variables";
//sm
@media (min-width: 576px) {
  .revol-editor{
    .revol-title {
      font-size: 48px;
    }
  }
  .pricing-section {
    .pricing-element {
      max-width: 46%;
    }
  }
}
//md
@media (min-width: 768px) {
  header {
    .nav-item {
      background-color: rgba(0,0,0,0) !important;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      .nav-link {
        margin: 0 0;
        padding: 10px 10px !important;
        color: #635c73 !important;
        font-family: $font-Montserrat;
        font-weight: bold;
        font-size: 16px;
        &:hover {
          color: #8d81ac !important;
        }
      }
    }
  }
  .carousel-section {
    .social-block {
      .carousel-facebook-button {
        span {
          padding-left: 10%;
        }
      }
    }
  }
  .pricing-section {
    .pricing-element {
      max-width: 23%;
    }
  }
}
//lg
@media (min-width: 992px) {
  header {
    .nav-item {
      .nav-link {
        margin: 20px 0;
        padding: 20px 20px !important;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .carousel-section {
    .carousel-comment-block {
      max-width: 780px;
    }
    .social-block {
      .carousel-facebook-button {
        span {
          padding-left: 25%;
        }
      }
    }
  }
}
//xl
@media (min-width: 1200px) {
  .hero {
    background-size: cover;
  }
}