$font-Montserrat: 'Montserrat', sans-serif;
@mixin purple-button{
  color: #fff;
  font-family: $font-Montserrat;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  line-height: 15px;
  background-color: #8d81ac;
  border-radius: 24px;
  outline: none;
  &:hover {
     background-color: #4d4963;
   }
};